@(implicit request:Request[Any])
<nav class="sidebar light">
    <ul>
        <li class="title">Goods</li>
        <li class='@{if(request.uri.trim == routes.CategoryController.all().url) "active" else ""}'>
            <a href="@routes.CategoryController.all()">Categories</a>
        </li>
        <li class='@{if(request.uri.trim == routes.ItemsController.getAll().url) "active" else ""}'>
            <a href="@routes.ItemsController.getAll()"><i class="icon-cog"></i>Items</a>
        </li>
        <li>
            <a href="#"><i class="icon-cog"></i>Brands</a>
        </li>
    </ul>
</nav>