@import model.Category
@(categories: List[Category])

	@categoryItem(category: Category) = {
		<a href="#" class="category">
			<div class="@if(category.subCategories != Nil){node-toggle}else{""}">
				<img alt="Img" src="@category.imageLink" class="category-image"/>
				<p class="category-item-text">@category.name</p>
			</div>
		</a>
	}


	@if(categories != Nil){
		@for(category <- categories){
			@if(category.subCategories != Nil){
				<li class="node">
					@categoryItem(category: Category)
					<ul>
						@categoryTree(category.subCategories)
					</ul>
				</li>
			}else{
				<li>
					@categoryItem(category: Category)
				</li>
			}
		}
	}




