@import util.FormInputNames
@import model.Category
@import formbeans.CategoryForm
@(categories: List[Category])(categoryForm: Form[CategoryForm])(implicit request: Request[Any])


@content = {
	<div class="span8">
		<a href="#">
			<div id="addCategory" class="category">
				<div class="tile-content icon">
					<img src="@routes.Assets.at("images/plus-64x64.png")">
				</div>
			</div>
		</a>
		
		@newCategory(categories)(categoryForm)
		
		<ul class="treeview" data-role="treeview">
	    	@categoryTree(categories)
	    </ul>
	</div>
	<p>Errors:</p>@categoryForm.errors
            	<p>Global Errors:</p>@categoryForm.globalErrors
}

@admin.mainAdmin("Categories")(content = content)