@import util.FormInputNames
@import formbeans.CategoryForm
@import model.Category
@(categories: List[Category])(categoryForm: Form[CategoryForm])
	<div class="row">
        <div id="addCategoryForm" class="span6" style="display: none;">
            <form action="@routes.CategoryController.add()" method="post">
                <label>Name:</label>
                <div class="input-control text">
                    <input type="text" name="@FormInputNames.NAME">
                    <button class="btn-clear"></button>
                </div>

                <label>Image:</label>
                <div class="input-control  text">
                    <input type="text" name="@FormInputNames.IMAGE_LINK">
                    <button class="btn-clear"></button>
                </div>
                
                <label>Parent:</label>
                <div class="input-control select">
				    <select name="@FormInputNames.PARENT_ID">
				    	<option></option>
				        @viewAllCategories(allCategories: List[Category]) = {
				        	@if(allCategories != Nil){
				        		@allCategories.map { cat => {
					        		<option value="@cat.id">@cat.name</option>
					        		@viewAllCategories(cat.subCategories)
				        	 		}
				        		}
				        	}
				        }
				        
				        @viewAllCategories(categories)
				    </select>
				</div>

                <div class="form-actions">
                    <button class="button primary" type="submit">Ok</button>
                    <button class="button" type="button">Cancel</button>
                </div>
            </form>
            
        </div>
    </div>